<?xml version="1.0" encoding="utf-8" standalone="yes"?><settings><tau val="6" /><v-offset val="0" /><min-h val="47" /><min-s val="153" /><min-v val="128" /><max-h val="90" /><max-s val="255" /><max-v val="189" /><threshold val="100" /><h-range val="50" /><s-range val="120" /><v-range val="150" /></settings>