<?xml version="1.0" encoding="utf-8" standalone="yes"?><settings><tau val="10" /><v-offset val="0" /><min-h val="35" /><min-s val="132" /><min-v val="0" /><max-h val="85" /><max-s val="255" /><max-v val="240" /><threshold val="100" /><h-range val="50" /><s-range val="120" /><v-range val="150" /></settings>