<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.1717" newVersion="2.4.0.1717" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.1717" newVersion="2.4.0.1717" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.GPU" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.1717" newVersion="2.4.0.1717" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>