<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV.GPU" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.1777" newVersion="2.4.2.1777"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.1777" newVersion="2.4.2.1777"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722AB4438" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.4.2.1777" newVersion="2.4.2.1777"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
